<app-dashboard></app-dashboard>
<div class="content">
  <div class="container">
    <div class="col-8">
      <h3>Adding New Post</h3>
      <!-- <form *ngIf="toggleInput">
        <mat-form-field class="full-width">
          <mat-label>Give it a title</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="newPostTitle" name="post-title">
        </mat-form-field>
        <input type="button"  mat-button class="btn" (click)="onSubmit()">
  
        <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field> 
      </form>
      <h6 class="text-primary" *ngIf="!toggleInput">{{newPostTitle}</h6> -->
    </div>
  
    <router-outlet></router-outlet>
  
  </div>

</div>

