
mat-card {
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 35vh;
    color: white;


}


.container {
    margin-top: 3rem;
    align-items: center;
    text-align: center;
    background: #bac4c2;
    padding-bottom: 3rem;
}

.half-width {
    width: 50%;
}