<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-lg-3">
      <mat-card style="background-color: #E27D60">
        <mat-card-title>
          <h4>Journal Article</h4>
        </mat-card-title>
        <mat-card-actions>
          <button button mat-fab color="warn" (click)="addJournalArticle()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-4 col-lg-3">
      <mat-card style="background-color: #85DCB9">
        <mat-card-title>
          <h4>Conference Article</h4>
        </mat-card-title>
        <mat-card-actions>
          <button button mat-fab color="warn" (click)="addConferenceArticle()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-4 col-lg-3">
      <mat-card style="background-color: #E8A87C">
        <mat-card-title>
          <h4>Proceeding</h4>
        </mat-card-title>
        <mat-card-actions>
          <button button mat-fab color="warn" (click)="addProceeding()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-md-4 col-lg-3">
      <mat-card style="background-color: #C38D9E">
        <mat-card-title>
          <h4>Book Chapter</h4>
        </mat-card-title>
        <mat-card-actions>
          <button button mat-fab color="warn" (click)="addBookChapter()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

    </div>

  </div>

</div>
